<table>
    <thead>
        <tr>
            <th>Username:</th>
            <th>Email Address:</th>
        </tr>
    </thead>
    <tbody>
        {{#each users as |user| }}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {{/each }}
    </tbody>
</table>
